# Supported environment variables to configure app

APP_HOST_IP="127.0.0.1"

APP_WIREGUARD_PORT=51820
APP_WIREGUARD_PEERLIMIT=100

APP_RESTAPI_PORT=5000
APP_RESTAPI_GINMODE="release"

APP_DATABASE_FILEPATH="/app/db/service.db"

APP_LOGGING_FOLDERPATH="/app/logs/"
APP_LOGGING_CONSOLELEVEL="info"
APP_LOGGING_FILELEVEL="debug"
