{
	"host": {
		"ip": "127.0.0.1"
	},

	"wiregiard":{
		"port": 51820,
		"peerlimit": 100
	},

	"restapi":{
		"port": 5000,
		"ginmode": "release"
	},

	"database":{
		"filepath":"/app/db/service.db"
	},

	"logging":{
		"filepath": "/app/log/logs.txt",
		"consolelevel": "info",
		"filelevel": "debug"
	}
}
